.shadow-4{box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15)}.shadow-5{box-shadow:0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12)}.shadow-6{box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11)}.shadow-sharp{box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05)}.shadow-diffuse{box-shadow:0 1px 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.16),0 8px 8px rgba(0,0,0,0.2)}.shadow-dreamy{box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07)}.shadow-shorter{box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11)}.shadow-longer{box-shadow:0 2px 1px rgba(0,0,0,0.09),0 4px 2px rgba(0,0,0,0.09),0 8px 4px rgba(0,0,0,0.09),0 16px 8px rgba(0,0,0,0.09),0 32px 16px rgba(0,0,0,0.09)}

@font-face{
  font-family: "H2GTRE";
  src: url('/dashboard/css/H2GTRE.TTF');
}

html,
body,
section,
ul,
li,
nav,
a,
h1,
h2 {
  padding: 0;
  margin: 0;
  outline: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  text-decoration: none;
}
body {
  font-family: "H2GTRE";
  font-size: 17px;
  line-height: 1.5em;
  overflow: hidden;
}

input[disabled],
button[disabled] {
  background: transparent !important;
  color: #dcd7d7 !important;
  border: 1px solid #dcd7d7 !important;
  cursor: not-allowed !important;
  text-shadow: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  outline: none !important;
}

.extra-controls {
  position: absolute;
  right: 21%;
}

#btn-comments {
  color: red;
  margin-top: 5px;
  font-size: 24px;
  text-shadow: 1px 1px white;
}

#other-videos {
  margin-top: 5px;
}

#other-videos video {
  width: 45%;
  margin: 5px;
  border: 1px solid black;
  padding: 1px;
  border-radius: 3px;
}

#txt-chat-message {
  width: 100%;
  resize: vertical;
  margin: 5px;
  margin-right: 0;
  min-height: 30px;
}

#btn-chat-message {
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(24,219,190);
  border-color: aquamarine;
}

#notice{
  position: absolute;
  height: 60px;
  top: 305px;
  left: 5px;
  right: 5px;
  border-bottom: gray 1px solid;
  overflow-y: auto;
}

#conversation-panel {
  margin-bottom: 10px;
  text-align: left;
  max-height: 570px;
  overflow: auto;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

#conversation-panel .message {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 10px;
}

#conversation-panel .message img,
#conversation-panel .message video,
#conversation-panel .message iframe {
  max-width: 100%;
}

#main-video {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #121010;
  padding-bottom: 1px;
}

hr {
  height: 1px;
  border: 0;
  background: #e5e5e5;
}

#btn-attach-file {
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
}

#btn-share-screen {
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.checkmark {
  display: none;
  width: 15px;
  vertical-align: middle;
}

#screen-viewer {
  position: fixed;
  top: 52px!important;
  left: 40px!important;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  display: none;
}

#screen-container{
  margin: 20px;
}

.header{
  margin-bottom: 20px;
}

.header > .icons {
  float: right;
  margin-top: 15px;
}

#widget-container{
  position: fixed;
  top: 54px;
  bottom: 0;
  right: 0;
  left: 0%;
  height: 100%;
  border: 1px solid black;
  border-top: 0px;
  border-bottom: 0px;
}

#temp-stream-canvas{
  display: none;
  opacity:0.1;
}

#key-press{
  text-align: right;
  display: none;
  font-size: 11px;
}

#key-press-image{
  height: 12px;
  vertical-align: middle;
}

#key-press-span{
  vertical-align: middle;
}

#article{
  top: 20px;
}

.lwindow{
  position: fixed;
  width: 20%;
  height: 95%;
  right: 0px;
  top: 53px;
  background-color: white;
  border-left: solid 1px gray;
}

.onUserStatusChanged{
  padding: 5px 10px;
}

.conversation-panel{
  left: 12px;
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  width: 94%;
}

.top_all_controll_on{
  content: url(/dashboard/newimg/lock.png);
}

.top_all_controll_off{
  content: url(/dashboard/newimg/unlock.png);
}

#top_load_book{
  content: url(/dashboard/img/top_load_book_off.png);
}

#top_test{
  content: url(/dashboard/newimg/ex.png);
}

#top_alert{
  content: url(/dashboard/newimg/alert.png);
}

#top_share_screen{
  content: url(/dashboard/img/top_share_screen_off.png);
}

.top_3d_off{
  content: url(/dashboard/img/top_3d_off.png);
}
.top_3d_on{
  content: url(/dashboard/img/top_3d_on.png);
}

#top_share_video{
  content: url(/dashboard/img/top_share_video_off.png);
}
#top_record_video{
  content: url(/dashboard/newimg/record.png);
}
#top_pdf{
  content: url(/dashboard/img/pdf.png);
}

#top_student{
  content: url(/dashboard/newimg/student.png);
}
#top_camera{
  content: url(/dashboard/newimg/cam.png);
}


#session-id{
  position: absolute;
  color: rgb(129,129,129);
  width: 300px;
  left: calc(50% - 300px / 2);
  top: 10px;
  /* font-style: italic; */
  font-size: 22px;
  font-weight: bold;
}

#icon_exit{
  content: url(/dashboard/img/exit.png);
  cursor: pointer;
  left: 10px;
  top: 10px;
  position: absolute;
  width: 35px;
}

#header{
  height: 53px;
  border: 1px gray solid;
}

#top_logo{
  content: url(/dashboard/ai_icon.png);
  left: 60px;
  position: absolute;
  top: 10px;
  width: 120px;
}


#top_attach-file{
  content: url(/dashboard/img/iconfinder_File.png);
}

#my-name{
  left: 400px;
  position: absolute;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  color: slateblue;
  top: 10px;
  font-weight: bold;
}

#who-am-i{
  position: absolute;
  left: 220px;
  top: 7px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(135,152,156);
}

.time{
  width: 90px;
  color: rgb(129, 129,129);
  float: right;
  font-weight: bold;
  text-align: end;
  margin-right: 5px;
  margin-left: 84px;
}

.icons{
  float: right;
}


.student-menu{
  display: none;
  border-radius: 8px;
    position: absolute;
  padding-left: 10px;
  width: 130px;
  height: 145px;
  background-color: white;
  z-index: 100;
}
.student-menu > .line{
  height: 10px;
  position: relative;
  width: 100px;
  left: calc(50% - 110px /2 );
  border-bottom: solid 2px gray;
  margin-bottom: 10px;
}

.student-menu > .stuname{
  font-weight: bold;
}
.student-menu > .status{
  font-size: 15px;
}
.student-menu > .permission{
  font-size: 15px;
}
.student-menu > .permission > .perbtn{
  background-color: gray;
  position: absolute;
  width: 40px;
  height: 20px;
  left: 75px;
  border-radius: 14px;
  cursor: pointer;
}
.student-menu > .permission > .perbtn> .circle{
  background-color: white;
  position: absolute;
  top: 1px;
  width: 18px;
  height: 18px;
  left: 2px;
  border-radius: 14px;
}
.student-menu > .out{
  text-align: center;
}


.view_type{
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  width: 90px;
  height: 26px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: rgb(129,129,129);
}

.view_type-on{
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.nos{
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

#student_list {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  width: 380px;
  height: 255px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.student{
  width: 87px;
  height: 60px;
  background-color: rgb(55,55,55);
  display: inline-block;
  margin: 2px;
  margin-right: 0px;
  cursor: pointer;
  color: white;
  vertical-align: bottom;
  position: relative;
}

.student > .bor{
  position: absolute;
    width: 100%;
    height: 100%;
    border: solid 3px #3ee1c9;
    z-index: 1;
    display: none;
    pointer-events: none;
}

.student .name{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  text-align: center;
  right: 0px;
  align-content: center;
  font-size: 12px;
  pointer-events: none;
}

.student .name .alert{
  top: 5px;
  width: 10px;
  height: 10px;
  left: 5px;
  position: absolute;
  border-radius: 10px;

  padding:0;
  margin-bottom: 0;
  border: 0px solid transparent;
}

.student .name .alert_yes{
  background-color: mediumspringgreen;
}

.student .name .alert_no{
  background-color: red;
}

.student .name .alert_wait{
  background-color: yellow;
}

#canvas-controller{
  border: 1px solid;
  box-shadow: 1px 2px #999999;
  min-height: 90%;
  width:150px;  

  right:20%;
  position: absolute;; 
  z-index: 0;
  display:none;
}

.upper_controller{
  border:1px solid;
}

.bottom_controller{
  border:1px solid;
  position: absolute;
  bottom: 10px;
}

.thumbnail_list{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  flex-wrap: wrap;  
}

.thumbnail{
  margin-left:15px;
  padding-bottom:50px;  
}

.thum_img_selected{
  box-shadow: 5px 5px 10px #3ee1c9;
  width:100px;
  height:140px;
}      

.thum_img{
  box-shadow: 5px 5px 10px #999;
  width:100px;
  height:140px;
}      

.no_student{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: inline-grid;
  align-content: center;
  font-weight: bold;
}

.top_icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.divide{
  border-left: 1px solid gray;
  width: 1px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}


#renderCanvas{
  position: absolute;
  left: 45px;
}


input[type=radio] { display:none; }

input[type=radio] + label { 
display: inline-block; 
cursor: pointer; 
font-size: 12px;
line-height: 28px; 
padding-right: 22px;
background: url(/dashboard/newimg/radio_base.png) right/22px no-repeat; 
margin-left: 0.5vw;
margin-right: 1vw;
}

input[type=radio]:checked + label { background-image: url(/dashboard/newimg/radio_on.png); }

.btn-exam{
  color: #fff;
    background-color: #3ee1c9;
    border-color: #3ee1c9;
}

#exam-board{
  display: none; 
  z-index: 5;
  position: fixed; 
  top:53px; 
  bottom: 0; 
  right: 0; 
  width: 20%; 
  border-left: gray solid 1px;
  background-color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus{
  border: #3ee1c9  solid 1px;
}

.exam-state-progress{
  height: 5px;
}

.exam-state-progress[value]{
  -webkit-appearance: none;
  appearance: none;
}

.exam-state-progress[value]::-webkit-progress-value {
  background: #3ee1c9;
}
.exam-state-progress[value]::-webkit-progress-bar {
  background: gray;
}

.exam-header{
  font-weight:bold; 
  background-color: white; 
  text-align: center; 
  border-bottom:gray solid 1px;
}

.exam-border-bottom{
  border-bottom:gray solid 1px;
}

.exam-80-button{
  width: 80%; 
  margin:10%; 
  font-weight:bold;
}

.exam-background{
  background-color:#eff1f0; 
  border-bottom:gray solid 1px;
}

.exam-overflow{
  max-height: 50vh;
  overflow-y: auto;
}

.text-center-bold{
  text-align:center; 
  font-weight:bold;
}