html,
body,
section,
ul,
li,
nav,
a,
h1,
h2 {
  padding: 0;
  margin: 0;
  outline: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 17px;
  line-height: 1.5em;
  overflow: hidden;
}

input[disabled],
button[disabled] {
  background: transparent !important;
  color: #dcd7d7 !important;
  border: 1px solid #dcd7d7 !important;
  cursor: not-allowed !important;
  text-shadow: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  outline: none !important;
}

.extra-controls {
  position: absolute;
  right: 21%;
}

#btn-comments {
  color: red;
  margin-top: 5px;
  font-size: 24px;
  text-shadow: 1px 1px white;
}

#other-videos {
  margin-top: 5px;
}

#other-videos video {
  width: 45%;
  margin: 5px;
  border: 1px solid black;
  padding: 1px;
  border-radius: 3px;
}

#txt-chat-message {
  width: 100%;
  resize: vertical;
  margin: 5px;
  margin-right: 0;
  min-height: 30px;
}

#btn-chat-message {
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(24,219,190);
  border-color: aquamarine;
}

#conversation-panel {
  margin-bottom: 10px;
  text-align: left;
  max-height: 550px;
  overflow: auto;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

#conversation-panel .message {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 10px;
}

#conversation-panel .message img,
#conversation-panel .message video,
#conversation-panel .message iframe {
  max-width: 100%;
}

#main-video {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #121010;
  padding-bottom: 1px;
}

hr {
  height: 1px;
  border: 0;
  background: #e5e5e5;
}

#btn-attach-file {
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
}

#btn-share-screen {
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.checkmark {
  display: none;
  width: 15px;
  vertical-align: middle;
}

#screen-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  display: none;
}

#screen-container{
  margin: 20px;
}

.header{
  margin-bottom: 20px;
}

.header > .icons {
  float: right;
  margin-top: 15px;
}

#widget-container{
  position: fixed;
  top: 54px;
  bottom: 0;
  right: 0;
  left: 0%;
  height: 100%;
  border: 1px solid black;
  border-top: 0px;
  border-bottom: 0px;
}

#temp-stream-canvas{
  display: none;
  opacity:0.1;
}

#key-press{
  text-align: right;
  display: none;
  font-size: 11px;
}

#key-press-image{
  height: 12px;
  vertical-align: middle;
}

#key-press-span{
  vertical-align: middle;
}

#article{
  top: 20px;
}

.lwindow{
  position: fixed;
  width: 20%;
  height: 95%;
  right: 0px;
  top: 53px;
  background-image: url(/dashboard/img/base.png);
}

.onUserStatusChanged{
  padding: 5px 10px;
}

.conversation-panel{
  left: 12px;
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  width: 94%;
}

#top_all_controll{
  content: url(/dashboard/img/top_unlock_off.png);
}

#top_load_book{
  content: url(/dashboard/img/top_load_book_off.png);
}

#top_test{
  content: url(/dashboard/img/top_test_off.png);
}

#top_alert{
  content: url(/dashboard/img/top_alert_off.png);
}

#top_share_screen{
  content: url(/dashboard/img/top_share_screen_off.png);
}

.top_3d_off{
  content: url(/dashboard/img/top_3d_off.png);
}
.top_3d_on{
  content: url(/dashboard/img/top_3d_on.png);
}

#top_share_video{
  content: url(/dashboard/img/top_share_video_off.png);
}
#top_record_video{
  content: url(/dashboard/img/top_record_video_off.png);
}
#top_pdf{
  content: url(/dashboard/img/pdf.png);
}


#session-id{
  position: absolute;
  color: rgb(129,129,129);
  width: 300px;
  left: calc(50% - 300px / 2);
  top: 7px;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
}

#icon_exit{
  content: url(/dashboard/img/exit.png);
  cursor: pointer;
  left: 5px;
  top: 5px;
  position: absolute;
}

#header{
  height: 53px;
  border: 1px gray solid;
}

#top_logo{
  content: url(/dashboard/ai_icon.png);
  left: 60px;
  position: absolute;
  top: 10px;
  width: 120px;
}

#my-name{
  left: 400px;
  position: absolute;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  color: slateblue;
  top: 10px;
  font-weight: bold;
}

#who-am-i{
  position: absolute;
  left: 220px;
  top: 7px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(135,152,156);
}

.time{
  width: 90px;
  color: rgb(129, 129,129);
  float: right;
  font-weight: bold;
  text-align: end;
  margin-right: 5px;
  margin-left: 290px;
}

.icons{
  float: right;
}

.view_type{
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  width: 90px;
  height: 26px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: rgb(129,129,129);
}

.view_type-on{
  background-color: rgb(129,129,129);
  color: white;
}

.nos{
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

#student_list {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  width: 370px;
  height: 290px;
}

.student{
  width: 70px;
  height: 90px;
  background-color: #dcd7d7;
  display: inline-block;
  margin-bottom: 5px;
}

#canvas-controller{
  margin-left:20%;
  position:relative; 
  z-index: 0;

}

.no_student{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: inline-grid;
  align-content: center;
  font-weight: bold;
}

.top_icon{
  cursor: pointer;
  margin-top: 10px;
}

#renderCanvas{
  position: absolute;
  left: 45px;
}