.shadow-4 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.shadow-5 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.shadow-6 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.shadow-sharp {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}
.shadow-diffuse {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.shadow-dreamy {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.shadow-shorter {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}
.shadow-longer {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2)
      format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2)
      format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2)
      format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2)
      format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2)
      format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzI.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'HY중고딕';
  src: url('/dashboard/css/H2GTRE.TTF');
}

html,
body,
section,
ul,
li,
nav,
a,
h1,
h2 {
  padding: 0;
  margin: 0;
  outline: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  text-decoration: none;
}
body {
  font-family: 'HY중고딕';
  font-size: 17px;
  line-height: 1.5em;
  overflow: hidden;
}

input[disabled],
button[disabled] {
  background: transparent !important;
  color: #dcd7d7 !important;
  border: 1px solid #dcd7d7 !important;
  cursor: not-allowed !important;
  text-shadow: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  outline: none !important;
}

.extra-controls {
  position: absolute;
  right: 21%;
}

#btn-comments {
  color: red;
  margin-top: 5px;
  font-size: 24px;
  text-shadow: 1px 1px white;
}

#other-videos {
  margin-top: 5px;
}

#other-videos video {
  width: 45%;
  margin: 5px;
  border: 1px solid black;
  padding: 1px;
  border-radius: 3px;
}

#txt-chat-message {
  width: 100%;
  resize: vertical;
  margin: 5px;
  margin-right: 0;
  min-height: 30px;
}

#btn-chat-message {
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(24, 219, 190);
  border-color: aquamarine;
}

#notice {
  position: absolute;
  height: 50%;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: gray 1px solid;
  overflow-y: auto;
  overflow-x: hidden;
}

.teachermsg {
  color: #18dbbe;
}

#noticewindow {
  overflow: auto;
  right: 0px;
  top: 40px;
  position: absolute;
  left: 20px;
  bottom: 25px;
  overflow-x: hidden;
  overflow-y: auto;
}

#notice > .text {
  position: absolute;
  width: 100%;
  left: 0px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  color: #707070;
  top: 0px;
  height: 35px;
  border-bottom: 1px solid #b8b8b8;
  align-content: center;
  vertical-align: middle;
}

.chatbackground {
  position: absolute;
  background-color: #eff1f0;
  width: 100%;
  height: 48px;
  bottom: 0px;
  z-index: -1;
  border-top: 1px solid #b8b8b8;
}

#notice > #collapse {
  position: absolute;
  bottom: 0px;
  width: 100%;
  align-content: center;
  display: inline-grid;
  text-align: center;
  cursor: pointer;
  height: 30px;
}

#notice > #collapse > .btn {
  position: absolute;
  left: calc(50% - 14px);
  padding: 0px;
  margin: 0px;
  bottom: 5px;
  transform: rotate(180deg);
}

#conversation-panel {
  text-align: left;
  overflow: auto;
  width: 100%;
  bottom: 50px;
  position: absolute;
  top: 0px;
}

#conversation-panel .message {
  padding: 5px 10px;
  height: 18px;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

#conversation-panel .message img,
#conversation-panel .message video,
#conversation-panel .message iframe {
  max-width: 100%;
}

#main-video {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #121010;
  padding-bottom: 1px;
  top: 50px;
  left: 1px;
}

hr {
  height: 1px;
  border: 0;
  background: #e5e5e5;
}

#btn-attach-file {
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
}

#btn-share-screen {
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.checkmark {
  display: none;
  width: 15px;
  vertical-align: middle;
}

#screen-viewer {
  position: fixed;
  top: 50px !important;
  left: 52px !important;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  display: none;
}

#screen-container {
  margin: 20px;
}

.header {
  margin-bottom: 20px;
}

.header > .icons {
  float: right;
  margin-top: 15px;
}

#widget-container {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0%;
  height: 100%;
  border: 0px solid black;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px;
}

#temp-stream-canvas {
  display: none;
  opacity: 0.1;
}

#key-press {
  text-align: right;
  display: none;
  font-size: 11px;
}

#key-press-image {
  height: 12px;
  vertical-align: middle;
}

#key-press-span {
  vertical-align: middle;
}

#article {
  top: 20px;
}

.lwindow {
  position: fixed;
  width: 339px;
  height: 95.3%;
  right: 0px;
  top: 50px;
  background-color: white;
  border-left: solid 1px rgba(0, 0, 0, 0.2);
  outline: solid 1px rgba(0, 0, 0, 0.1);
}

.emojionearea.emojionearea-inline {
  bottom: 6px;
  position: absolute !important;
  right: 5px;
}

.for_teacher {
  width: 100%;
  height: 305px;
}

.onUserStatusChanged {
  padding: 5px 10px;
}

.chatting {
  position: absolute;
  top: 305px;
  width: 100%;
  bottom: 0px;
}

.conversation-panel {
  left: 12px;
  position: absolute;
  bottom: 0px;
  padding-bottom: 8px;
  right: 0px;
  height: 48%;
  overflow: inherit !important;
}

.top_all_controll_on {
  content: url(/dashboard/newimg/lock.png);
}

.top_all_controll_off {
  content: url(/dashboard/newimg/unlock.png);
}

#top_load_book {
  content: url(/dashboard/img/top_load_book_off.png);
}

#top_test {
  content: url(/dashboard/newimg/ex.png);
}

#top_alert {
  content: url(/dashboard/newimg/alert.png);
}

#top_share_screen {
  content: url(/dashboard/img/top_share_screen_off.png);
}

.top_3d_off {
  content: url(/dashboard/img/top_3d_off.png);
}
.top_3d_on {
  content: url(/dashboard/img/top_3d_on.png);
}

.top_share_video_on {
  content: url(/dashboard/img/top_share_video_on.png);
}

.top_share_video_off {
  content: url(/dashboard/img/top_share_video_off.png);
}
#top_record_video {
  content: url(/dashboard/newimg/recordoff.png);
}
#top_pdf {
  content: url(/dashboard/img/pdf.png);
}

#top_student {
  content: url(/dashboard/newimg/student.png);
}
#top_camera {
  content: url(/dashboard/newimg/cam.png);
}

#next {
  content: url(/dashboard/newimg/next.png);
}

#prev {
  content: url(/dashboard/newimg/prev.png);
}

#fullscreen {
  content: url(/dashboard/newimg/fullscreen.png);
}

#presentation {
  content: url(/dashboard/newimg/presentation.png);
}

#session-id {
  position: absolute;
  color: #828282;
  width: 300px;
  left: calc(50% - 300px / 2);
  font-size: 19px;
  font-family: Roboto;
  font-style: normal;
  line-height: 50px;
  font-weight: bold;
}

#current-time {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #707070;
  vertical-align: middle;
  line-height: 36px;
  position: relative;
}

#recording-time {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: red;
  vertical-align: middle;
  line-height: 18px;
  position: relative;
  display: none;
}

#icon_exit {
  content: url(/dashboard/newimg/exit.png);
  cursor: pointer;
  left: 10px;
  top: 10px;
  position: absolute;
  width: 35px;
}

#header {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#top_logo {
  content: url(/dashboard/ai_icon.png);
  left: 60px;
  position: absolute;
  top: 10px;
  width: 120px;
}

#top_attach-file {
  content: url(/dashboard/img/iconfinder_File.png);
}

#my-name {
  display: none;
  left: 400px;
  position: absolute;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  color: slateblue;
  top: 10px;
  font-weight: bold;
}

#who-am-i {
  position: absolute;
  left: 220px;
  top: 7px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(135, 152, 156);
}

.time {
  width: 90px;
  color: rgb(129, 129, 129);
  float: right;
  font-weight: bold;
  text-align: end;
  margin-right: 5px;
  height: 36px;
  display: inline-grid;
  position: absolute;
  top: 10px;
  right: 3px;
}

.icons {
  float: right;
  height: 50px;
}

.student-menu {
  position: absolute;
  width: 126px;
  height: 187px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  z-index: 100;
}

.student-menu > .line1 {
  height: 0px;
  position: absolute;
  width: 104px;
  left: calc(50% - 104px / 2);
  border-bottom: solid 2px #e5e5e5;
  margin-bottom: 10px;
  top: 58px;
}

.student-menu > .line2 {
  height: 0px;
  position: absolute;
  width: 104px;
  left: calc(50% - 104px / 2);
  border-bottom: solid 2px #e5e5e5;
  margin-bottom: 10px;
  top: 136px;
}

.student-menu > .stuname {
  position: absolute;
  width: 80px;
  height: 18px;
  left: 14px;
  top: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.student-menu > .status {
  position: absolute;
  width: 50px;
  height: 13px;
  left: 30px;
  top: 36px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  color: #707070;
}
.student-menu > .permission {
  position: absolute;
  width: 60px;
  height: 15px;
  left: 14px;
  top: 72px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: #707070;
}

.student-menu > .mic {
  position: absolute;
  width: 60px;
  height: 15px;
  left: 14px;
  top: 106px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: #707070;
}

.student-menu > .permission > .perbtn {
  background-color: gray;
  position: absolute;
  width: 40px;
  height: 18px;
  top: -3px;
  left: 61px;
  border-radius: 14px;
  cursor: pointer;
}
.student-menu > .permission > .perbtn > .circle {
  background-color: white;
  position: absolute;
  top: 1px;
  width: 16px;
  height: 16px;
  left: 2px;
  border-radius: 14px;
}

.student-menu > .mic > .perbtn {
  background-color: gray;
  position: absolute;
  width: 40px;
  height: 18px;
  top: -3px;
  left: 61px;
  border-radius: 14px;
  cursor: pointer;
}
.student-menu > .mic > .perbtn > .circle {
  background-color: white;
  position: absolute;
  top: 1px;
  width: 16px;
  height: 16px;
  left: 2px;
  border-radius: 14px;
}

.student-menu > .out {
  position: absolute;
  width: 100px;
  height: 18px;
  left: 18px;
  top: 155px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #707070;
  cursor: pointer;
}
.student-menu > .out > .outtext {
  position: absolute;
  left: 30px;
  top: 2px;
}

.view_type {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  width: 90px;
  height: 26px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: rgb(129, 129, 129);
}

.view_type-on {
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.nos {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50px;
  position: absolute;
}

.nos > .now_selected_student {
  position: absolute;
}

.nos > .now_selected_student > .name {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 13px;
  top: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.nos_student_icon {
  position: absolute;
  top: 12px;
  right: 11px;
}

.nos_student_text {
  position: absolute;
  top: 21px;
  right: 43px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ff3d3d;
}

.feature {
  width: 234px;
  height: 50px;
  position: absolute;
  display: none;
  right: 120px;
}

.controll {
  position: absolute;
  right: 360px;
  height: 50px;
  display: none;
}

.nos > .now_selected_student > .status_img {
  border-radius: 10px;
  height: 9px;
  width: 9px;
  left: 14.5px;
  background-color: #67ef1d;
  position: absolute;
  top: 34px;
}
.nos > .now_selected_student > .status_text {
  position: absolute;
  width: 60px;
  height: 14px;
  left: 30px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #707070;
}

#student_list {
  float: left;
  width: 339px;
  height: 256px;
  overflow-x: hidden;
  background: #b8b8b8;
  top: 50px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.student {
  width: 82px;
  height: 62px;
  background-color: rgb(55, 55, 55);
  display: inline-block;
  margin: 1px;
  cursor: pointer;
  color: white;
  vertical-align: bottom;
  position: relative;
}

.student > .bor {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #67ef1d;
  z-index: 1;
  display: none;
  pointer-events: none;
}

.student > .click {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #18dbbe;
  z-index: 1;
  display: none;
  pointer-events: none;
}

.student .name {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  text-align: center;
  right: 0px;
  align-content: center;
  font-size: 12px;
  pointer-events: none;
}

.student .name .alert {
  top: 6px;
  width: 7px;
  height: 7px;
  left: 5px;
  position: absolute;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 0;
  border: 0px solid transparent;
}

.student .name .alert_yes {
  background-color: mediumspringgreen;
}

.student .name .alert_no {
  background-color: red;
}

.student .name .alert_wait {
  background-color: yellow;
}

.no_student {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: inline-grid;
  align-content: center;
  font-weight: bold;
}

.top_icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 9px;
}

.divide {
  border-left: 2px solid #c4c4c4;
  width: 1px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

input[type='radio'] {
  display: none;
}

input[type=radio] + label { 
display: inline-block; 
cursor: pointer; 
font-size: 12px;
line-height: 28px; 
padding-right: 22px;
background: url(/dashboard/newimg/radio_base.png) right/22px no-repeat; 
margin-left: 15px;
margin-right: 5px;
margin-top: 3px;
}

input[type='radio']:checked + label {
  background-image: url(/dashboard/newimg/radio_on.png);
}

.btn-exam {
  color: #fff;
  background-color: #3ee1c9;
  border-color: #3ee1c9;
}

.btn-exam:hover {
  background-color: #13b59c;
}

#exam-board{
  display: none; 
  z-index: 10;
  position: fixed; 
  top:50px; 
  bottom: 0; 
  right: 0; 
  width: 339px; 
  border-left: gray solid 1px;
  background-color: white;
}

#exam-title {
  background-color: white; 
  text-align: center;
  padding-top: 9px;
  padding-bottom: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #707070;
}

#exam-question-count-label {
  width: 54px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #707070;
  margin-top: 11px;
  margin-left: 15px;
}

#exam-time-label {
  width: 40px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #707070;
  margin-top: 12px;
  margin-left: 27px;
}

#exam-question-count, #exam-time {
  width: 50px;
  height: 28px;
  background: #FFFFFF;
  border: 2px solid #B8B8B8;
  border-radius: 3px;
  margin-top: 4px;
  text-align: center;
}

#exam-setting-apply {
  width: 52px;
  height: 28px;
  margin-top: 5px;
  margin-left: 40px;
  padding: 0px;
}

#exam-question-count:focus, #exam-time:focus {
  outline: solid #3ee1c9 1px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']:focus {
  border: #3ee1c9 solid 1px;
}

.exam-state-progress {
  height: 5px;
}

.exam-state-progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

.exam-state-progress[value]::-webkit-progress-value {
  background: #3ee1c9;
}
.exam-state-progress[value]::-webkit-progress-bar {
  background: #a8a8a8;
}

.exam-header {
  font-weight: bold;
  background-color: white;
  text-align: center;
  border-bottom: gray solid 1px;
}

.exam-border-bottom {
  border-bottom: gray solid 1px;
}

.exam-80-button {
  width: 80%;
  margin: 10%;
  font-weight: bold;
}

.exam-background {
  background-color: #eff1f0;
  border-bottom: gray solid 1px;
}

.exam-overflow{
  max-height: 70vh;
  overflow-y: auto;
}

.text-center-bold {
  text-align: center;
  font-weight: bold;
}
#urlform {
  position: absolute;
  left: 60px;
  width: 400px;
  height: 88px;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  top: 500px;
}

#urlform .back {
  width: 400px;
  position: absolute;
  height: 40px;
  top: 36px;
  background-color: #eff1f0;
  left: 0px;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
}

#urlform .name {
  position: absolute;
  left: 179px;
  height: 18px;
  top: 10px;
  font-size: 15px;
  line-height: 18px;
}

#urlinput {
  position: absolute;
  left: 8px;
  top: 42px;
  width: 96%;
  border: 2px solid #B8B8B8;
  border-radius: 3px;
  font-size: 14px;
  padding-left: 11px;
}

#urlinput:focus {
  outline: 2px solid #18dbbe;

  width: 96%;
  height: auto;
}

#alert-dialog {
  position: absolute;
  width: 450px;
  height: 148px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  top: 40%;
  left: 50%;
  margin: -74px 0 0 -225px;
}

#alert-header {
  height: 35px;
  border-bottom: 1px solid #b8b8b8;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  color: #707070;
}

#alert-body {
  height: 100px;
  background: #eff1f0;
  border-bottom: 1px solid #b8b8b8;
}

#alert-content {
  text-align: center;
  height: 57px;
  line-height: 48px;
  color: #707070;
  font-style: normal;
  font-weight: normal;
}

.alert-progress {
  vertical-align: middle;
  width: 406px;
  height: 5px;
}

.btn-alert-yes {
  width: 179px;
  height: 28px;
  background: #18dbbe;
  border-radius: 3px;
  color: white;
}

.btn-alert-yes:hover {
  background: #13b59c;
}

.btn-alert-no {
  width: 179px;
  height: 28px;
  background: #ff5959;
  border-radius: 3px;
  color: white;
}

.btn-alert-no:hover {
  background: #d84b4b;
}

#alert-btns {
  margin-left: 39px;
}

#top_record_video.on {
  animation-name: record;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes record {
  from {
    content: url(/dashboard/newimg/recordoff.png);
  }

  to {
    content: url(/dashboard/newimg/record.png);
  }
}

/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
  color: #555;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: #aaa;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: #eee;
}

/* the border radius of the drop area */
.filepond--panel-root {
  border-radius: 0.5em;
}

/* the border radius of the file item */
.filepond--item-panel {
  border-radius: 0.5em;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: #555;
}

/* the background color of the drop circle */
.filepond--drip-blob {
  background-color: #999;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
  color: white;
}

/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
  background-color: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: green;
}

/* bordered drop area */
.filepond--panel-root {
  background-color: transparent;
  border: 2px solid #2c3340;
}

#file-list {
  width: 100%;
  height: 500px;
  border: 1px solid;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

.list-group-item {
  width: 100%;
  border: 1px solid;
}

.list-group-item i {
  font-size: 3em;
  line-height: 1;
}

.list-group-item button i {
  font-size: 1em;
}

.list-group-item p label {
  font-size: 1.2em;
  margin-top: 15px;
  margin-left: 10px;
  overflow: hidden;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-group-item .btn {
  white-space: normal !important;
  word-wrap: break-word !important;
  width: 50px;
  height: 50px;
}
video::-webkit-media-controls{
  pointer-events: none;
}
video::-webkit-media-controls-fullscreen-button {
}
video::-webkit-media-controls-play-button {
  display: none;
}
video::-webkit-media-controls-timeline {
  display: none;
}
video::-webkit-media-controls-current-time-display {
  display: none;
}
video::-webkit-media-controls-time-remaining-display {
  display: none;
}
video::-webkit-media-controls-mute-button {
  display: none;
}
video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
video::-webkit-media-controls-volume-slider {
  display: none;
}
#edunetContent{
  left: 52px; 
  width: 77%; 
  height: 91%; 
  position: absolute; 
  display: none;
}
