/* Muaz Khan (@muazkh/@WebRTCWeb) */
.shadow-4{box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15)}.shadow-5{box-shadow:0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12)}.shadow-6{box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11)}.shadow-sharp{box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05)}.shadow-diffuse{box-shadow:0 1px 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.16),0 8px 8px rgba(0,0,0,0.2)}.shadow-dreamy{box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07)}.shadow-shorter{box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11)}.shadow-longer{box-shadow:0 2px 1px rgba(0,0,0,0.09),0 4px 2px rgba(0,0,0,0.09),0 8px 4px rgba(0,0,0,0.09),0 16px 8px rgba(0,0,0,0.09),0 32px 16px rgba(0,0,0,0.09)}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face{
font-family: "나눔고딕";
src: url(/dashboard/css/NanumBarunGothic.ttf);
}

@font-face{
font-family: "나눔펜글씨";
src: url(/dashboard/css/NanumPen.ttf);
}

.texti{
    cursor: text;
}

.slider_btn{
    width: 10%;
    left: -5px;
    top: -3px;
    position: absolute;
    content: url(/dashboard/newimg/circle.png);
}

.slider_btn:hover{
    width: 13%;
    top: -5px;
}

.slider-back{
    height: 100%;
    background-color: rgb(24,219,190);
    position: absolute;
}

.slider-front{
    height: 5px;
    top: 12px;
    width: 115px;
    position: absolute;
    background-color: #A6A6A6;
    left: 13px;
}
.svalue{
    position: absolute;
    left: 177px;
}

#titlebox{
    z-index: 9999;
    width: auto;
    height: 20px;
    position: absolute;
    background-color: black;
    left: 62px;
    color: white;
    border-radius: 7px;
    font-family: Roboto;
    display: none;
}

#titlebox > .sq{
    position: absolute;
    width: 6px;
    height: 6px;
    left: -2px;
    top: 6px;
    background: #000000;
    transform: rotate(45deg);
}

#titletext{
    margin: 10px;
}


  body {
    font-family: "Roboto";
    font-size: 17px;
    line-height: 1.5em;
    overflow: hidden;
  }
.pen{
    cursor: url('/dashboard/img/pen.png') 6 38,pointer;

}
.marker{
    cursor: url('/dashboard/img/pen2.png') 6 38,pointer;
}
.eraser{
    cursor: url('/dashboard/img/eraser.png') 6 38,pointer;
}

textarea::-webkit-scrollbar {
    width: 0;
    height: 0;
}
textarea::-webkit-scrollbar {
    height: 0;
    overflow: visible;
    width: 10px;
    border-left: 1px solid rgb(229, 229, 229);
}
textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    border-width: 1px 1px 1px 6px;
}
textarea::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
textarea::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
textarea::-webkit-scrollbar-corner {
    background: transparent;
}
::selection,
::-moz-selection {
    background: #00A2E8;
    color: #fff;
    text-shadow: none;
}
html,
body,
input,
textarea,
h1,
h2 {

    margin: 0;
    padding: 0;
    word-wrap: break-word;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html,
body {
    background: rgb(255, 255,255) !important;
    background-color: transparent;
    font-size: 13px;
    height: 100%;
    cursor: default;
    color: Gray;
    overflow: hidden;
  overscroll-behavior: none;

}
/* header */

h1,
.line-width-done,
.colors-done,
.additional-close {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 97%, rgba(237, 237, 237, 1) 97%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(97%, rgba(243, 243, 243, 1)), color-stop(97%, rgba(237, 237, 237, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 97%, rgba(237, 237, 237, 1) 97%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 97%, rgba(237, 237, 237, 1) 97%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 97%, rgba(237, 237, 237, 1) 97%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */

    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 97%, rgba(237, 237, 237, 1) 97%, rgba(255, 255, 255, 1) 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}
/* links */

a {
    color: #0b7aff;
    text-decoration: none;
}
a:hover {
    color: #043877;
}
/* design-surface */

.design-surface {
    background-color: transparent;
      overscroll-behavior: none;
}
.design-surface canvas {
    position: absolute;
    overscroll-behavior: none;
}
.design-surface canvas:last-child {
    position: static;
}
/* toolbox */

.tool-box {
    z-index: 10001;
    padding-top: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    width: 50px;
    background-color: #FBFBFB;
    overflow: hidden;
    height: calc(100% - 10px);
    overflow: hidden;
    overflow-y: auto;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.tool-box::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color:transparent;
}

.tool-box::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

.tool-box::-webkit-scrollbar-thumb {
    background-color:transparent;
    border: 0;
}


.tool-box::-webkit-scrollbar-track {
    background-color:transparent;
    box-shadow: none;
}

.tool-box canvas {
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 11px;
    display: none;
}

.tool-box canvas:first-child,
.tool-box canvas:first-child:hover {
    margin-top: 0;
    border-top: 0;
}
.tool-box canvas:hover {
    box-shadow: none;
    border-radius: 3px;
    background: rgb(204,204,204);
}
.selected-shape {
    content: url(/dashboard/newimg/click_box.png);
    background: #dde1e3!important;
}
/* surface */

.preview-panel {
    position: absolute;
    right: 10px;
    background-color: #FBFBFB;
    bottom: 0;
}
.preview-panel div {
    border: 1px solid #E5E5E5;
    display: inline-block;
    padding: 5px 10px;
}
.preview-panel #code-preview {
    margin-left: -6px;
}
.preview-panel div {
    border: 1px solid #E5E5E5;
}
.preview-panel div:not(.preview-selected) {} .preview-panel div {
    border: 1px solid rgb(9, 159, 243);
}
.preview-selected {
    margin-top: -4px;
    background-color: rgb(6, 205, 255);
    color: white;
}
/* input */

input,
select {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #D9D9D9;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    outline: none;
}
input:focus {
    border: 1px solid #043877;
}
/* select */

.allow-select {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    user-select: initial
}
/* arc */

.arc-range-container, #pdf-page-container {
    position: absolute;
    z-index: 1000;
    display: none;
}
.arc-range {
    font-size: 18px;
    padding: 2px 16px;
    text-align: center;
    width: 40px;
}
.arc-range-container-guide {
    margin-top: 10px;
    color: #C5C5C5;
}
/* code viewer */

.code-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}
.code-text {
    resize: none;
    width: 99%;
    height: 300px;
    padding: 15px;
    outline: 0;
    border: 0;
    border-top: 1px solid #E5E5E5;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Courier New", monospace;
    color: #666;
}
/* options */

.options-container {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #E5E5E5;
    border-left: 0;
    background-color: #FBFBFB;
    display: none;
}
.options-container div {
    border-bottom: 1px solid #E5E5E5;
    padding: 5px;
}
.options-container div:last-child {
    border-bottom: 0;
}
/* context menu */

.tooldivide{
    width: 40px;
    height: 20px;
    border-bottom: solid 2px gray;
    left: 6px;
    position: relative;
    margin-bottom: 20px;
}

.context-popup {
    position: absolute;
    width: 185px;
    height: 53px;
    left: 58px!important;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
}
.line-width-text,
.colors-container input {
    width: 25px;
    padding: 2px 5px;
    text-align: center;
}
/* colors */

.colors-container label {
    width: 100px;
    display: inline-block;
}
.colors-container input {
    width: 18px;
    left: 134px;
    height: 18px;
    top: 1px;
    font-size: 15px;
    text-align: center;
    font-family: Roboto;
    font-weight: normal;
    line-height: 18px;
    color: #707070;
}
.colors-container .input-div {
    margin-bottom: 5px;
}
/* additional controls */

.additional-container label,
.additional-container select {
    width: 200px;
    display: inline-block;
}
.additional-container select {
    width: 120px;
}
.btn-007 {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-weight: normal;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 2px 3px;
    text-decoration: none;
    color: rgb(27, 26, 26);
    display: inline-block;
    box-shadow: rgb(255, 255, 255) 1px 1px 0px 0px inset;
    text-shadow: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(241, 241, 241)), to(rgb(230, 230, 230)));
    font-size: 13px;
    border: 1px solid red;
    outline: none;
}
.btn-007:hover,
.btn-007:focus {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(5%, rgb(221, 221, 221)), to(rgb(250, 250, 250)));
    border: 1px solid rgb(142, 142, 142);
}
.btn-007[disabled] {
    background: rgb(249, 249, 249);
    border: 1px solid rgb(218, 207, 207);
    color: rgb(197, 189, 189);
}
.fontSelect {
    position: relative;
    padding: 3px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    margin: 3px;
    width: 200px;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -o-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -ms-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: linear-gradient(top, #f9f9f9, #f0f0f0);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='$from', EndColorStr='$to');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cecece;
}
.fontSelect span {
    overflow: hidden;
    margin-left: 5px;
}
.fontSelect .arrow-down {
    position: absolute;
    right: 10px;
    top: 14px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #AAA;
}
.fontSelectUl,
.fontSizeUl {
    list-style: none;
    width: 200px;
    background: #f9f9f9;
    position: absolute;
    left: 0;
    top: 35px;
    padding: 0;
}
.fontSelectUl {
    padding-left: 5px;
}
.fontSelectUl li,
.fontSizeUl li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    cursor: pointer;
    padding: 0 10px;
    font-size: 14px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
.fontSelectUl li:last-child,
.fontSizeUl li:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #EEEEEE;
}
.fontSelectUl li:hover,
.fontSizeUl li:hover {
    background: #DDD;
}
.fontSelectUl li.font-family-selected,
.fontSizeUl li.font-size-selected {
    background: rgb(6, 205, 255)!important;
    color: white!important;
}
#marker-selected-color,
#marker-selected-color-2, 
#pencil-selected-color,
#pencil-selected-color-2,
#text-selected-color {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    left: 5px;
    top: 30px;
    height: 20px;
    position: absolute;
}

#text-selected-color-2 {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    left: -25px;
    height: 20px;
    position: absolute;
}
#marker-fill-colors, #pencil-fill-colors, #text-fill-colors {
    display: none;
}
#marker-color-container, #pencil-color-container {
    position: relative;
}
#marker-fill-colors, #pencil-fill-colors {
    left: 100%;
    top: -10px;
    width: 100px;
    padding: 10px;
}
#text-fill-colors {
    left: 220px;
    top: -10px;
    width: 100px;
    padding: 10px;
}
#marker-fill-style, #pencil-fill-style, #text-fill-style {
    width: 50px;
    display: inline-block;
}
#marker-colors-list, #pencil-colors-list, #text-colors-list {
    margin: 10px auto;
    border-collapse: collapse;
}
#marker-colors-list td, #pencil-colors-list td, #text-colors-list td {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    padding: 0;
}
#marker-colors-list td:hover, #pencil-colors-list, #text-colors-list td:hover {
    border: 1px solid white;
}

#pdf-next, #pdf-prev, #pdf-close {
    width: 22px;
    vertical-align: middle;
    cursor: pointer;
}

.block{
    cursor: pointer;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-image: url(/dashboard/img/paint_base.png);
}

.block_list{
    position: absolute;
    display: grid;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 10px;
    grid-template-rows: repeat(4,100px);
    row-gap: 5px;
}

.block > .text{
    width: 60px;
    top: 9px;
    left: calc(50% - 60px / 2);
    text-align: center;
    color: white;
    font-size: 16px;
    position: absolute;
}

.block > .img{
    position: relative;
    width: 60%;
    height: 60%;
    top: 30px;
    left: 20px;
    z-index: 1;
}

.icon_view_on{
    content: url(/dashboard/img/view_on.png);
}

.icon_view_off{
    content: url(/dashboard/img/view_on.png);
}

.icon_pencil{
    content: url(/dashboard/img/pen.png);
}

.icon_magic{
    content: url(/dashboard/img/pen2.png);
}

.icon_eraser{
    content: url(/dashboard/img/eraser.png);
}

 .off{
     background: rgba(204,204,204,0)!important;
}

.off:hover{
    box-shadow: none;
    border-radius: 0px;
    background: rgba(204,204,204,1);
}

.color_template{
    position: absolute;
    top: 30px;
    left: 8px;
    width: 150px;
    height: 16px;
    display: grid;
    grid-template-columns: repeat(7, 16px);
    grid-column-gap: 9px;
}

.color{
    background-color: aqua;
    /* outline: solid 2px black; */
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 0pt 1.5pt #c4c4c4;
    cursor: pointer;
}

.color_template > .on {
    box-shadow: 0 0 0pt 1.5pt #FFFFFF, 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.textInputUI,
.fontSelectUl,
.fontColorUI,
.fontSizeUl{
    z-index: 10000000;
}
.tooltip{
    z-index: 100;
    position: absolute;
    left: 28px;
    top: 100px;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 14px;
}

.color_template_text{
    position: absolute;
    top: 30px;
    left: 8px;
    width: 150px;
    height: 16px;
    display: grid;
    grid-template-columns: repeat(7, 16px);
    grid-column-gap: 9px;
    z-index: 1000;
}

.color{
    background-color: aqua;
    /* outline: solid 2px black; */
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 0pt 1.5pt #c4c4c4;
    cursor: pointer;
}

.color_template > .on {
    box-shadow: 0 0 0pt 1.5pt #FFFFFF, 0px 5px 10px rgba(0, 0, 0, 0.3);
}


#screen-viewer {
    position: fixed;
    top: 0px !important;
    left: 52px !important;
    width: calc(100% - 52px);
    height: 100%;
    z-index: 99998;
    display: none;
  }

  body:fullscreen {
    background-color: rgb(255, 255, 255);
  overscroll-behavior: none;

  }
  #body:-webkit-full-screen {
    background-color: rgb(255, 255, 255);
  overscroll-behavior: none;

  }
  #body:-moz-full-screen {
    background-color: rgb(255, 255, 255);
  overscroll-behavior: none;

  }


.fullscreen{
display: block;
position: absolute;
bottom: 10px;
}

#main-video{
position: absolute;
display: block;
width: 20%;
z-index: 100000007;
left: 55px;
bottom: 55px;
}

.no-hover:hover{
box-shadow: none !important;
border-radius: 0px !important;
background: rgb(204,204,204,0) !important;
}

#conversation-panel{
    width: 30%;
    right: 5px;
    position: absolute;
    z-index: 999999;
    top: 10px;
    margin-right: 20px;
    overflow: hidden;
    bottom: 10px;
    pointer-events: none;
    
}

#file-viewer{
    border: 1px solid black;
    width: calc(100% - 52px);
    left: 50px;
    position: absolute;
    height: 100%;
    direction: ltr;
}

#epub-viewer{
    width: calc(100% - 50px);
    left: 50px;
    border: 1px solid black;
    position: absolute;
    height: 100%;
    direction: ltr;
    align-content: center;
    display: flex;
    justify-content: center;
}

.message{
    font-weight: bold;
    background-color: rgba(187, 187, 187, 0.64);
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 2px;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    font-size: 13px;
}

#temp-canvas,
#main-canvas{
    position: absolute;
    left: 50px;
}